---
# Values file for deploying CAS server at cas.coderliu.top

casServerName: cas.coderliu.top

# CAS Server container properties
casServerContainer:
  ## Choose which config files from casConfig to mount
  casConfigMounts:
    - 'cas.properties'
    - 'cas.yaml'
  casConfig:
    cas.properties: |-
      cas.server.name=https://cas.coderliu.top
      context.path=/cas
      cas.server.prefix=${cas.server.name}${context.path}

      cas.http-client.truststore.psw=changeit
      cas.http-client.truststore.file=/etc/cas/truststore

      # put web access logs in same directory as cas logs
      cas.server.tomcat.ext-access-log.directory=/var/log
      cas.server.tomcat.ext-access-log.enabled=true

      # uncomment the folowing to not allow login of built-in users
      # cas.authn.accept.users= 

      # since we are behind ingress controller, need to use x-forwarded-for to get client ip
      # if nginx ingress controller is behind another proxy, it needs to be configured globally with the following settings in the ingress controller configmap
      #  use-forwarded-headers: "true"   # very important for CAS or any app that compares IP being used against IP that initiated sessions (session fixation)
      #  enable-underscores-in-headers: "true" # while you are at it, allow underscores in headers, can't recall if important for cas but no need to have nginx dropping your headers with underscores
      cas.audit.engine.alternate-client-addr-header-name=X-Forwarded-For
      server.tomcat.remoteip.remote-ip-header=X-FORWARDED-FOR

      server.ssl.key-store=file:/etc/cas/thekeystore
      server.ssl.key-store-type=PKCS12
      server.ssl.key-store-password=changeit
      server.ssl.trust-store=file:/etc/cas/truststore
      server.ssl.trust-store-type=PKCS12
      server.ssl.trust-store-password=changeit

      # expose endpoints via http
      management.endpoints.web.exposure.include=health,info,prometheus,metrics,env,loggers,statistics,status,loggingConfig,events,configurationMetadata,caches
      management.endpoints.web.base-path=/actuator
      management.endpoints.web.cors.allowed-origins=https://cas.coderliu.top
      management.endpoints.web.cors.allowed-methods=GET,POST

      # enable endpoints
      management.endpoint.metrics.enabled=true
      management.endpoint.health.enabled=true
      management.endpoint.info.enabled=true
      management.endpoint.env.enabled=true
      management.endpoint.loggers.enabled=true
      management.endpoint.status.enabled=true
      management.endpoint.statistics.enabled=true
      management.endpoint.prometheus.enabled=true
      management.endpoint.events.enabled=true
      management.endpoint.loggingConfig.enabled=true
      management.endpoint.configurationMetadata.enabled=true
      # configure health endpoint
      management.health.defaults.enabled=false
      management.health.ping.enabled=true
      management.health.caches.enabled=true

      # secure endpoints to localhost
      cas.monitor.endpoints.endpoint.defaults.access[0]=AUTHENTICATED
      cas.monitor.endpoints.endpoint.health.access[0]=IP_ADDRESS
      cas.monitor.endpoints.endpoint.health.requiredIpAddresses[0]=127.0.0.1
      cas.monitor.endpoints.endpoint.health.requiredIpAddresses[1]=0:0:0:0:0:0:0:1
      cas.monitor.endpoints.endpoint.health.requiredIpAddresses[2]=10\\..*
      cas.monitor.endpoints.endpoint.health.requiredIpAddresses[3]=172\\.16\\..*
      cas.monitor.endpoints.endpoint.health.requiredIpAddresses[4]=192\\.168\\..*
      #eof

cas:
  ingress:
    hosts:
      - host: cas.coderliu.top
        paths:
          - "/cas"
    tls:
      - secretName: cas-server-ingress-tls
        hosts:
          - cas.coderliu.top